* {

    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    background-color: #1966d3;
    height: 80px;
    width: 100%;
    align-items: center;

}

#title {
    display: flex;
    align-items: center;

}

#title div {

    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
}

#navbar ul {
    align-items: center;
    display: flex;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}




#navbar ul li {

    list-style-type: none;



}

#navbar div img {

    height: 60px;
    width: 60px;
    margin-left: 20px;
}

#navbar ul li a {
    padding-left: 50px;
    padding-right: 50px;
}

button {
    align-items: center;
    height: 30px;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;

    padding: 3px 15px;
    font-weight: bolder;
    color: #1966d3;
    border-radius: 25px;
    font-size: 18px;
    border-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

button:hover {

    background-color: black;
    color: white;

}

#slideShowContainer {
    background-color: #000000;
    height: 520px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slideShowHeading {
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 20px;
    color: white;
}

#slideShowContainer img {
    height: 380px;
}